:host {
  display: block;
}

mat-list-item {
  &:hover {
    background-color: rgba($color: #fff, $alpha: 0.1);
    cursor: pointer;
  }

  &.active {
    background-color: rgba($color: #fff, $alpha: 0.1);
  }
}
