@import "../../theme.scss";

:host {
  display: block;
  padding: 2rem;
  width: 500px;
  border-radius: 4rem;
  margin: 3rem auto 0;
  background-color: rgba(22, 17, 17, 0.158);
}

h1 {
  text-align: center;
  font-size: 2rem;
}

h2 {
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

mat-grid-list {
  width: 100%;
  height: 100%;
  margin: 0 auto;

  .create-account-btn {
    width: 50%;
    height: 50%;
    font-size: 1.4rem;
  }
}

mat-form-field {
  width: 66.67%;
  transform: scale(1.5);
}

.login-link {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
